<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Best IT Solution organization in Rotterdam, Netherlands</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="DreamDiver-Dream Diver IT Solutions.">
    <meta name="description" content="Dream Diver provides the best IT solutions in Rotterdam, Netherlands, offering services - web base software design, development, SEO and IT services.">
    
          
     <!-- canonical -->
    <link rel="canonical" href="https://dreamdiver.nl"/>

    <!-- Favicon -->
    <link href="https://dreamdiver.nl/frontend/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
        <!-- custome Stylesheet -->
        <link href="css/custome.css" rel="stylesheet">

     <!-- login -->
     <!-- <link rel="stylesheet" href="css/login.css">     -->
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <a href="index.html" class="navbar-brand d-flex align-items-center">
            <h1 class="m-0"><img class="img-fluid " src="img/logo.png" alt="logo" alt=""></h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto pe-4 py-3 py-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about-us.html" class="nav-item nav-link">About Us</a>
                <!-- <a href="service.html" class="nav-item nav-link">Our Services</a> -->
                <div class="dropdown">
                    <a href="service.html" class="dropbtn nav-item nav-link">Our Services <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                    <div class="dropdown-content">
                      <a href="software-development.html">Software Development</a>
                      <a href="mobile-app.html">Mobile App Development</a>
                      <a href="software-services.html">Software Services</a>
                      <a href="web-design.html">Web Design & Development</a>
                      <a href="seo.html">SEO</a>
                      <a href="marketing.html">Digital Marketing</a>
                    </div>
                  </div>
                <a href="portfolio.html" class="nav-item nav-link ">Portfolio</a>
                <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                <a href="ticket.html" class="nav-item nav-link">Support Ticket</a>
                <a href="faq.html" class="nav-item nav-link">Faq</a>
                <a href="career.html" class="nav-item nav-link">Career</a>
                <a href="review.html" class="nav-item nav-link">Review</a>
                <a href="login.html" class="nav-item nav-link">Login</a>

            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h4 class="display-4 text-white animated slideInDown mb-4">FAQ</h4>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Contact Start -->
   <section class="py-7">
    <div class="container-xxl py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-6">Familiar Question</h1>
        </div>
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="container">
                        <!-- FORM SECTION -->
                        <div class="row">
                            <!-- SIGN IN -->
                            <div class="col align-items-center flex-col sign-in">
                                <div class="form-wrapper slide-form align-items-center">
                                        <div class="accordion form sign-in" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Question #1
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Question #2
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                        </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Question #3
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                        </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingfour">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                        Question #4
                                                    </button>
                                                </h2>
                                                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                        </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingfive">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                        Question #5
                                                    </button>
                                                </h2>
                                                <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                        </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingsix">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
                                                        Question #6
                                                    </button>
                                                </h2>
                                                <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                        </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div> 
                                </div>
                            </div>
                          
                            <!-- END SIGN IN -->
                        </div>
                        <!-- END FORM SECTION -->
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp align-items-center " data-wow-delay="0.5s">
                    <div class="small-container slide-benar">
                        <div class="custom-card">
                              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" style="text-align: center;">
                                    <h5 class="custom-title">FAQ!</h5>
                                    <p>We provide all kind of software solutions to your projects.</p>
                                  </div>
                                  <div class="carousel-item" style="text-align: center;">
                                    <h5 class="custom-title">FAQ</h5>
                                    <p>Web Design & Development, Android Applications</p>
                                  </div>
                                  <div class="carousel-item" style="text-align: center;">
                                    <h5 class="custom-title">FAQ</h5>
                                    <p>Search Engine Optimization, contact us for details</p>
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                                <a href="contact.html">
                                    <button class="custom-btn">FAQ Send</button>
                                  </a>
                        </div>
                        <div class="custom-blob"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>
     


    <!-- Footer Start -->
    <div class="container-fluid footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-highlight mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Weena zuid 130, ext 405, 3012 NC Rotterdam, Netherlands.</p>
                    <a href="tel:+31644215009" style="color: #7A8499;"><i class="fa fa-phone-alt me-3"></i>+31644215009</a><br>
                    <a href="mailto:info@dreamdiver.nl" style="color: #7A8499;"><i class="fa fa-envelope me-3"></i>info@dreamdiver.nl</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-highlight mb-4">Our Services</h5>
                    <a class="btn btn-link" href="software-development.html">Software Development</a>
                    <a class="btn btn-link" href="mobile-app.html">Mobile App Development</a>
                    <a class="btn btn-link" href="software-services.html">Softerware Services</a>
                    <a class="btn btn-link" href="web-design.html">Web Design & Development</a>
                    <a class="btn btn-link" href="seo.html">Search Engine Optimization</a>
                    <a class="btn btn-link" href="marketing.html">Digital Marketing</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-highlight mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="about-us.html">About Us</a>
                    <a class="btn btn-link" href="contact.html">Contact Us</a>
                    <a class="btn btn-link" href="service.html">Our Services</a>
                    <a class="btn btn-link" href="terms-conditions.html">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-highlight mb-4">Follow Us</h5>
                    <div class="d-flex">
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-5 copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; 2017, Dream Diver IT Solutions. All Rights Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Developed By <a href="https://dreamdiver.nl">Dream Diver</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a> -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>
        let container = document.getElementById('container')

        toggle = () => {
            container.classList.toggle('sign-up')
            container.classList.toggle('sign-in')
           
        }

        setTimeout(() => {
            container.classList.add('sign-in')
        }, 200)
    </script>
</body>

</html>